{% extends 'company/company_detail.html' %}
{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col" style="background: rgba(255,255,255,0.7); padding: 20px; box-shadow: 0 0 10px 0 rgba(0,0,0,0.3)">
            <h3>Добавить транспортное средство</h3>
            <form action="." method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.name }}
                    <label class="mdl-textfield__label" for="id_name">Название</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.reg_num }}
                    <label class="mdl-textfield__label" for="id_reg_num">Регистрационный номер</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
                    Сохранить
                </button>
            </form>
        </div>
    </div>
{% endblock %}