{% extends 'company/company_detail.html' %}
{% block content %}
    <div class="mdl-grid">
        {% for object in object_list %}
            <div class="mdl-cell mdl-cell--4-col">
                <div class="demo-card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title">
                        <h2 class="mdl-card__title-text">{{ object.name }}</h2>
                    </div>
                    <div class="mdl-card__supporting-text">
                        {{ object.reg_num }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="mdl-cell mdl-cell--12-col">
            <a href="/company/cars/create/" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
                <i class="material-icons">add</i>
            </a>
        </div>
    </div>
{% endblock %}