{% extends 'base.html' %}
{% block nav %}
    <a class="mdl-navigation__link" href="/company/">Личный кабинет</a>
    <a class="mdl-navigation__link" href="/company/cars/">Автомобили</a>
    <a class="mdl-navigation__link" href="/company/requests/">Заявки</a>
    <a class="mdl-navigation__link" href="/company/routes/">Маршруты</a>
{% endblock %}
{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col" style="background: rgba(255,255,255,0.7); padding: 20px; box-shadow: 0 0 10px 0 rgba(0,0,0,0.3)">
            <h3>{{ object.name }}</h3>
        </div>
    </div>
{% endblock %}