{% extends 'company/company_detail.html' %}
{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col" style="background: rgba(255,255,255,0.7); padding: 20px; box-shadow: 0 0 10px 0 rgba(0,0,0,0.3)">
            <ul class="mdl-list">
                {% for object in object_list %}
                    <li class="mdl-list__item">
                        <span class="mdl-list__item-primary-content">
                            <i class="material-icons mdl-list__item-avatar">person</i>
                            <span>{{ object.passenger.first_name }} {{ object.passenger.last_name }}</span>
                        </span>
                        <span class="mdl-list__item-primary-content">{{ object.capacity }}</span>
                        <span class="mdl-list__item-primary-content">{{ object.date_start }}</span>
                        <span class="mdl-list__item-primary-content">{{ object.date_end }}</span>
                        <span class="mdl-list__item-secondary-content">
                            <a href="/company/reqeusts/{{ object.id }}/offer/" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                                Предложить транспорт
                            </a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}