<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Автомаяк</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext"
          rel="stylesheet">
    <link rel="stylesheet" href="/media/css/main.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-amber.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">
                <img src="/media/images/logo_alt.png" height="80px" alt="">
                <img src="/media/images/optional.png" height="80px" alt="">
            </span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                {% block nav %}
                    <a class="mdl-navigation__link" href="/">Поиск маршрута</a>
                    <a class="mdl-navigation__link" href="/rent/">Аренда транспорта</a>
                {% endblock %}
            </nav>
            <nav class="mdl-navigation">
                <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" id="user-menu">
                    <i class="material-icons">personal</i>
                </button>
                <nav class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" data-mdl-for="user-menu">
                    <a href="/company/" class="mdl-menu__item">Перейти в личный кабинет</a>
                    <a href="/logout/" class="mdl-menu__item">Выход</a>
                </nav>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">
            <img class="mdl-logo" src="/media/images/logo.png" alt="logo" width="150px">
        </span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="/">Поиск маршрута</a>
            <a class="mdl-navigation__link" href="/rent/">Аренда транспорта</a>
        </nav>
    </div>
    <main class="mdl-layout__content" style="background: url('/media/images/bus.png') 50% 50%/cover no-repeat;">
        <div class="page-content">
            {% block content %}

            {% endblock %}
        </div>
    </main>
    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">© Прагматика 2019 г.</div>
        </div>
    </footer>
</div>
</body>
</html>