{% extends 'base.html' %}
{% block content %}
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col" style="background: rgba(255,255,255,0.7); padding: 20px; box-shadow: 0 0 10px 0 rgba(0,0,0,0.3)">
            <h3>Найти туристический маршрут</h3>
            <form action="." method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.departure }}
                    <label class="mdl-textfield__label" for="id_departure">Откуда</label>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    {{ form.destination }}
                    <label class="mdl-textfield__label" for="id_destination">Куда</label>
                </div>
                {#                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">#}
                {#                    <input class="mdl-textfield__input" type="text" id="sample3">#}
                {#                    <label class="mdl-textfield__label" for="sample3">Дата</label>#}
                {#                </div>#}
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit">
                    Найти
                </button>
                {% if track %}
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="submit" name="request">
                        Оставить заявку
                    </button>
                {% endif %}
            </form>
            {{ track|safe }}
            {% if map %}
                <iframe src="https://yandex.ru/map-widget/v1/-/CGACmTIX" width="100%" height="400" frameborder="1" allowfullscreen="true"></iframe>
            {% endif %}
        </div>
    </div>
{% endblock %}